[submodule "OpenFX"]
	path = OpenFX
	url = https://github.com/devernay/openfx.git
[submodule "SupportExt"]
	path = SupportExt
	url = https://github.com/devernay/openfx-supportext.git
[submodule "OpenFX-IO"]
	path = OpenFX-IO
	url = https://github.com/MrKepzie/openfx-io.git
[submodule "OCL/lib"]
	path = OCL/lib
	url = https://github.com/olear/OpenCLUtilities
