[submodule "OpenFX"]
	path = common/OpenFX
	url = https://github.com/NatronGitHub/openfx.git
[submodule "SupportExt"]
	path = common/SupportExt
	url = https://github.com/NatronGitHub/openfx-supportext.git
[submodule "OpenFX-IO"]
	path = common/OpenFX-IO
	url = https://github.com/NatronGitHub/openfx-io.git
[submodule "common/lodepng"]
	path = common/lodepng
	url = https://github.com/lvandeve/lodepng
