[submodule "OpenFX"]
	path = OpenFX
	url = https://github.com/NatronGitHub/openfx.git
[submodule "SupportExt"]
	path = SupportExt
	url = https://github.com/NatronGitHub/openfx-supportext.git
[submodule "OpenFX-IO"]
	path = OpenFX-IO
	url = https://github.com/NatronGitHub/openfx-io.git
